.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  padding: 0;
}

.grid {
  margin-top: 15px;
}

.grid div {
  vertical-align: middle;
  align-items: center;
}

.grid i {
  cursor: pointer;
}

.header {
  background-color: #AAA;
}

.oddRow {
  background-color: #DDD;
}

.evenRow {
  background-color: #FFF;
}

.booked {
  background-color: #FF8F8F
}

.available {
  background-color: #C6E6C5
}

#btnBuscar {
  line-height: 30px;
  padding-left: 0px;
}
